<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-ios-export-compliance" version="1.0.2">
    <name>iOS Export Compliance</name>
    <description>This plugin sets ITSAppUsesNonExemptEncryption in *-Info.plist file</description>
    <license>ISC</license>
    <engine name="ios" spec="^4.0.0" />

    <platform name="ios">
        <config-file target="*-Info.plist" parent="ITSAppUsesNonExemptEncryption">
            <false/>
        </config-file>
    </platform>
</plugin>